nav,
header,
main,
footer {
    padding-left: 320px;
}

main {
    padding: 20px 20px 20px 270px;
}

.sidenav li > a {
    padding: 0 16px;
}
.sidenav {
    width: 250px;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 300px;
    width: 100%;
}

.container-main {
    /* max-width: 1050px; */
    margin: 0 auto;
}

@media only screen and (max-width: 992px) {
    nav,
    header,
    main,
    footer {
        padding-left: 20px;
    }
    main {
        padding: 20px;
    }
}
