{
    "tabWidth": 4,
    "overrides": [
        {
            "files": "*.ejs",
            "options": {
                "tabWidth": 2,
                "printWidth": 120
            }
        }
    ]
}