<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <!--Import materialize.css-->
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap" rel="stylesheet">
    <title>Project</title>
  </head>

  <body>
    <nav class="orange">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">순이와의 생활분석</a>
        <ul class="right hide-on-med-and-down">
          <!-- <li>
            <a href="#">
              <i class="material-icons left">search</i>
              Search User
            </a>
          </li> -->
          <li>
            <form method="get" action="/report">
              <div class="input-field">
                <input id="search" name="id" type="search" style="height: auto" placeholder="Search User" />
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </li>
          <li>
            <a href="#">
              <i class="material-icons left">view_module</i>
              List Users
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main>
      <div class="container-main">
        <div class="row">
          <div class="col s12 m6 l6">
            <div class="card medium hoverable">
              <div class="card-content">
                <span class="card-title">순이랑은...</span>
                <br />
                <p><%= sumUsers %>명의 사용자들을 위한 개인 생활 리포트 제작 서비스입니다.</p>
              </div>
              <!-- <div class="card-action">
                <a href="#">자세히 보기</a>
              </div> -->
            </div>
          </div>

          <div class="col s12 m6 l6">
            <div class="card medium hoverable">
              <div class="card-content">
                <span class="card-title">전체 사용자 활동 비율</span>
                <br />
                <div class="chart-container">
                  <canvas id="chart1"></canvas>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col s12 m6">
            <div class="card medium hoverable">
              <div class="card-content">
                <span class="card-title">Views</span>
                <div class="chart-container">
                  <canvas id="chart2"></canvas>
                </div>
              </div>
            </div>
          </div>

          <div class="col s12 m6">
            <div class="card medium hoverable">
              <div class="card-image">
                <img src="/background.jpg" />
                <span class="card-title">My Blog</span>
              </div>
              <div class="card-content">
                <p>It's a simple card</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.6.0/chart.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
      const dropdown = document.querySelectorAll(".dropdown-trigger");
      const dropdownInstance = M.Dropdown.init(dropdown);

      const sidenav = document.querySelectorAll(".sidenav");
      const sidenavInstance = M.Sidenav.init(sidenav);

      const collapsible = document.querySelectorAll(".collapsible");
      const collapsibleInstance = M.Collapsible.init(collapsible);
    });

    if(<%= no_id %> == true){
      alert('존재하지 않거나 데이터가 부족한 사용자 id 입니다');
      document.location.href = '/';
    }

    const ctx1 = document.getElementById("chart1").getContext("2d");
    const chart1 = new Chart(ctx1, {
      type: "pie",
      data: {
        labels: <%- JSON.stringify(pieChartData.keyArray) %>,
        datasets: [
          {
            label: "전체 사용자 활동 비율",
            data: [<%= pieChartData.valueArray %>],
            backgroundColor: ["#ffa726", "#f57c00", "#e65100"],
            hoverOffset: 4,
          },
        ],
      },
      options: {
        maintainAspectRatio: false,
      },
    });
  </script>
</html>
