nav {
    font-family: "Nanum Pen Script", cursive;
    font-size: x-large;
}
nav,
header,
main,
footer {
    padding-left: 50px;
}

main {
    padding: 20px 30px 20px 30px;
    font-family: "Gowun Dodum", sans-serif;
    font-weight: bold;
}

h4 {
    font-weight: bold;
}

.bold {
    font-weight: bold;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 300px;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    nav,
    header,
    main,
    footer {
        padding-left: 20px;
    }
    main {
        padding: 20px;
    }
}
